*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

.body{
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap:10px;
    grid-template-areas: "header header header"
                         "main main main"
                         "main main main"
                         "main main main"
                         "main main main"
                         "footer footer footer";
}  
header{
    grid-area: header;
    background-color: rgb(36, 216, 132);
}
/*Main*/
main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "cuadrado triangulo circulo"
                         "cuadrado triangulo circulo"
                         "cuadrado triangulo circulo";
   grid-column-gap: 20px;                      
}
main #cuadrado{
   background-color: rgb(239, 253, 33);
   grid-area: cuadrado;
}
main #triangulo{
    background-color: rgba(157, 245, 233, 0.87);
    grid-area: triangulo;
 }
 main #circulo{
    background-color: rgb(168, 246, 66);
    grid-area: circulo;
 }


/*Footer*/
footer{
    grid-area: footer;
    background-color: rgb(105, 103, 216);
}
