*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

.body{
    background-color: blanchedalmond;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap:10px;
    /*Definir la grilla principal*/
    grid-template-areas: "header header header"
                         "main main main"
                         "main main main"
                         "main main main"
                         "main main main"
                         "footer footer footer";
}  

/*Header*/
header{
    grid-area: header;
}
header h1{
    font-size: 4rem;
}
header p{
    font-size: 2rem;
}
/*Main*/
main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1,auto);
    grid-template-areas: "cuadrado triangulo circulo"
                         "cuadrado triangulo circulo"
                         ;
   grid-column-gap: 20px;                      
}
/*Estilos generales de las seciones: cuadrado, triangulo y circulo*/
#cuadrado, #triangulo, #circulo{
   background-color: rgb(74, 252, 213);
   grid-area: cuadrado; 
   padding: 2rem; 
   box-shadow: 5px 5px 5px grey;
   border-radius: 10px;
}
/*Cuadrado*/
h2{
    font-size: 2.4rem;
}
/*Formulario*/
.from-cuadrado{
    margin-top: 3.6rem;
}
.from-cuadrado label{
    font-size: 2rem;
    display: inline-block; /*para poder definir su ancho*/
    width: 50%;   
}
/*Estilos de los input de las tres secciones*/
#InputCuadrado, #InputLado1, #InputLado2, #Altura, #Base, #Radio{
    width: 10rem;
    height: 2.8rem;
    font-size: 1.8rem;
    background-color: rgb(253, 253, 185);
    border-radius: 4px;
}
#InputCuadrado{
    position: relative;
    left: 2rem;
}
/*Estilos generales de los botones de las tres secciones*/
button{
    width: 8rem;
    height: 2.4rem;
    font-size: 1.4rem;
    position: relative;
    border-radius: 5px;
    background-color: rgb(240, 247, 142);
}
.btn-area-cuadrado{
    left: 15rem;
    top: 2.5rem;
    font-weight: bold;
}
.btn-perimetro-cuadrado{
    top: 5rem;
    right: 2.4rem;
    font-weight: bold;
}

/*Triangulo*/
#triangulo{
    grid-area: triangulo; 
 }
 .form-triangulo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "label input"
                         "label input"
                         "label input"
                         "label input"
                         "label input"
                         "label input";
 }
 /*Circulo*/
 #circulo{
    grid-area: circulo;
 }


/*Footer*/
footer{
    grid-area: footer;
}
