*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

.body{
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap:10px;
    grid-template-areas: "header header header"
                         "main main main"
                         "main main main"
                         "footer footer footer";
}  
header{
    grid-area: header;
    background-color: rgb(36, 216, 132);
}
main{
    grid-area: main;
    background-color: rgb(64, 233, 72);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "cuadrado triangulo circulo"
                         "cuadrado triangulo circulo"
                         "cuadrado triangulo circulo";
   grid-column-gap: 10px;                      
}
main .cuadrado{
   background-color: blanchedalmond;
   grid-area: cuadrado triangulo circulo;
}
footer{
    grid-area: footer;
    background-color: rgb(105, 103, 216);
}
